header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 5vh;
}

header nav {
    @media (min-width: 35rem) {
        width: 100%;
    }
}

header nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    padding: 0;
    margin: 0;
}

header nav ul li a img,
header nav ul li button img {
    height: 2vh;
    width: auto;
    @media (prefers-color-scheme: dark) {
        filter: invert(1);
    }
}
/* 
header img:nth-of-type(1) {
    height: 1em;
    @media (prefers-color-scheme: dark) {
        filter: invert(1);
    }
}

header nav ul li:nth-of-type(2) {

} */



main {
    @media (min-width: 35rem) {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }
}

main section:nth-of-type(1) {
    position: relative;
    @media (min-width: 35rem) {
        position: block;
        top: 3vh;
    }
}

main section:nth-of-type(1) h2 {
    display: none;
}

main section:nth-of-type(1) ul li img {
    width: 100vw;
    @media (min-width: 35rem) {
        max-width: 30vw;
        height: 100vh;
        object-fit: cover;
    }
}

main section:nth-of-type(1) ul li img:nth-of-type(1) {
    width: 100vw;
    @media (min-width: 35rem) {
        grid-column-start: 1;
        grid-column-end: 2;
    }
}

main section:nth-of-type(1) ul li img:nth-of-type(2) {
    width: 100vw;
    @media (min-width: 35rem) {
        grid-column-start: 2;
        grid-column-end: 3;
    }
}

main section:nth-of-type(1) ul {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    scroll-snap-type: y mandatory;
    height: 90%;
    padding: 0;
    z-index: 0;
    position: fixed;
    @media (min-width: 35rem) {
        flex-direction: row;
        overflow-y: none;
        scroll-snap-type: none;
        height: 100%;
    }
}

main section:nth-of-type(1) button {
    height: 3em;
    aspect-ratio: 1;
    border-radius: 50%;
    position: fixed;
    padding: 0.5em;
    z-index: 1;
    background-color: var(--backg);
    bottom: 24vh;
    right: 5vw;
    @media(min-width: 35rem) {
        bottom: 1vh;
        right: 40vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

main section:nth-of-type(1) button img {
    @media (prefers-color-scheme: dark) {
        filter: invert(1);
        height: 1.5em;
    }
}

main section:nth-of-type(2),
main section:nth-of-type(3) {
    position: relative;
    z-index: 2;
    background-color: var(--backg);
    top: 92vh;
    /* grid-column-start: 0;
    grid-column-end: -1; */
    @media (min-width:35rem) {
        grid-column-start: 6;
        grid-column-end: -1;
        top: 5vh;
    }
}


main section:nth-of-type(2) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1em;
}

main section:nth-of-type(2) h2 {
    grid-column-start: 1;
    grid-column-end: 2;
    font-size: 1em;
    font-weight: 400;
}

main section:nth-of-type(2) h3 {
    font-size: 0.9em;
    font-weight: 700;
    text-align: right;
}

main section:nth-of-type(2) button {
    background-color: var(--contrast-back);
    color: var(--button-text);
    grid-column-start: 1;
    grid-column-end: -1;
    font-size: 1em;
    border: none;
    text-transform: uppercase;
    font-weight: 700;
    padding: 0.5em;
}

main section:nth-of-type(3) {
    padding: 1em;
}

main section:nth-of-type(3) h2:nth-of-type(1) {
    font-size: 0.7em;
    font-weight: 100;
    margin: 0;
    margin-bottom: 5em;
}

main section:nth-of-type(3) ul:nth-of-type(1) li,
main section:nth-of-type(3) ul:nth-of-type(2) li {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    border: solid 1px;
    padding: 0;
    margin: 0;
}

main section:nth-of-type(3) ul:nth-of-type(1) li img,
main section:nth-of-type(3) ul:nth-of-type(2) li img:nth-of-type(1) {
    height: 2em;
    aspect-ratio: 1;
    @media (prefers-color-scheme: dark) {
        filter: invert(1);
    }
    grid-column-start: 1;
    grid-column-end: 2;
    padding: 1em;
}

main section:nth-of-type(3) ul:nth-of-type(1) li h3 {
    grid-column-start: 2;
    grid-column-end: 5;
    font-weight: 100;
    font-size: 1em;
    padding: 0.3em;
}

main section:nth-of-type(3) ul:nth-of-type(1) li h4 {
    grid-column-start: 5;
    grid-column-end: -1;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--highlighted-text);
}

main section:nth-of-type(3) h2:nth-of-type(2) {
    font-size: 1em;
    font-weight: 400;
    margin-top: 4em;
}

main section:nth-of-type(3) ul:nth-of-type(2) li h3 {
    grid-column-start: 2;
    grid-column-end: 5;
    font-weight: 100;
    font-size: 1em;
    padding: 0.3em;
}

main section:nth-of-type(3) ul:nth-of-type(2) li img:nth-of-type(2) {
    height: 2em;
    aspect-ratio: 1;
    @media (prefers-color-scheme: dark) {
        filter: invert(1);
    }
    grid-column-start: 5;
    grid-column-end: -1;
    padding: 1em;
}

main section:nth-of-type(3) ul:nth-of-type(3) {
    display: flex;
    flex-direction: row;
    margin-bottom: 80vh;
    @media (min-width: 35rem) {
        margin-bottom: 0;
    }
}

main section:nth-of-type(3) ul:nth-of-type(3) li {
    display: flex;
    flex-direction: row;
}

main section:nth-of-type(3) ul:nth-of-type(3) li a {
    text-decoration: none;
}

main section:nth-of-type(3) ul:nth-of-type(3) li h3 {
    font-size: 0.7em;
    margin: 0;
    color: var(--p-text);
}

main section:nth-of-type(3) ul:nth-of-type(3) li img {
    height: 1em;
    aspect-ratio: 1;
    @media (prefers-color-scheme: dark) {
        filter: invert(1);
    }
}

footer {
    position: relative;
    z-index: 2;
}
