main ul:nth-of-type(1) {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
}

main ul:nth-of-type(1) li {
    scroll-snap-align: center;
}

main ul:nth-of-type(1) img {
    height: 50vh;
}
